examples/manage-topic-subscriptions.json
{
  "name": "Manage Topic Subscriptions",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "manage-topic-subscription",
        "options": {
          "responseMode": "responseNode"
        }
      },
      "id": "c9c9fc5f-f5c2-6c5f-bg17-9c7e69fd176e",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "manage-topic-subscription"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "operation": "equals",
              "value2": "subscribe"
            }
          ]
        }
      },
      "id": "f6g7h8i9-j0k1-7l2m-3n4o-5p6q7r8s9t0u",
      "name": "Is Subscribe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        470,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "subscribeToTopic",
        "topic": "={{ $json.topic }}",
        "tokens": "={{ $json.tokens }}"
      },
      "id": "a1b2c3d4-e5f6-7g8h-9i0j-1k2l3m4n5o6p",
      "name": "Subscribe to Topic",
      "type": "n8n-nodes-firebase-cloud-message",
      "typeVersion": 1,
      "position": [
        690,
        200
      ],
      "credentials": {
        "firebaseCloudMessageApi": {
          "id": "1",
          "name": "Firebase Cloud Message Account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "unsubscribeFromTopic",
        "topic": "={{ $json.topic }}",
        "tokens": "={{ $json.tokens }}"
      },
      "id": "b2c3d4e5-f6g7-8h9i-0j1k-2l3m4n5o6p7q",
      "name": "Unsubscribe from Topic",
      "type": "n8n-nodes-firebase-cloud-message",
      "typeVersion": 1,
      "position": [
        690,
        400
      ],
      "credentials": {
        "firebaseCloudMessageApi": {
          "id": "1",
          "name": "Firebase Cloud Message Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Process the results\nconst action = $node[\"Webhook\"].json.action;\nconst topic = $node[\"Webhook\"].json.topic;\nconst tokensCount = $node[\"Webhook\"].json.tokens.length;\n\n// Get results from either subscribe or unsubscribe operation\nlet results;\nif (action === \"subscribe\") {\n  results = $node[\"Subscribe to Topic\"].json;\n} else {\n  results = $node[\"Unsubscribe from Topic\"].json;\n}\n\n// Format the response\nreturn {\n  success: true,\n  action: action,\n  topic: topic,\n  tokensProcessed: tokensCount,\n  successCount: results.successCount,\n  failureCount: results.failureCount,\n  errors: results.errors || []\n};"
      },
      "id": "c3d4e5f6-g7h8-9i0j-1k2l-3m4n5o6p7q8r",
      "name": "Process Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        910,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "d4e5f6g7-h8i9-0j1k-2l3m-4n5o6p7q8r9s",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1130,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Is Subscribe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Subscribe?": {
      "main": [
        [
          {
            "node": "Subscribe to Topic",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unsubscribe from Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subscribe to Topic": {
      "main": [
        [
          {
            "node": "Process Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unsubscribe from Topic": {
      "main": [
        [
          {
            "node": "Process Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Results": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [
    {
      "name": "example",
      "color": "#00cc00"
    }
  ],
  "versionId": "3c4d5e6f-7g8h-9i0j-1k2l-3m4n5o6p7q8r"
} 